@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  margin: 0;
  background-color: #828282;
  font-family: 'Roboto', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: black;
  padding: 20px;
}
.nav-img {
  width: 150px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.code-form,
.review-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 600px;
  border-radius: 20px;
  margin-top: 20px;
  border: solid black 4px;
  background: rgb(17, 167, 122);
  background: -moz-linear-gradient(
    159deg,
    rgba(17, 167, 122, 1) 0%,
    rgba(83, 223, 128, 1) 100%
  );
  background: -webkit-linear-gradient(
    159deg,
    rgba(17, 167, 122, 1) 0%,
    rgba(83, 223, 128, 1) 100%
  );
  background: linear-gradient(
    159deg,
    rgba(17, 167, 122, 1) 0%,
    rgba(83, 223, 128, 1) 100%
  );
}
@media (width < 700px) {
  .code-form,
  .review-output {
    width: 300px;
  }
  .nav-img {
    width: 100px;
  }
}
.code-form > label {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 20px;
}
.code-form > textarea {
  border-radius: 20px;
  resize: vertical;
  width: 90% !important;
  padding: 20px;
  font-size: large;
}
.code-submit-btn {
  height: 50px;
  width: 200px;
  margin-top: 15px;
  color: black;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  border: solid black 3px;
  background-color: rgba(83, 223, 128, 1);
  transition: all ease-in-out 0.5s;
}
.code-submit-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: black;
}
.review-output {
  min-height: 200px;
}
